.ipynb_checkpoints/
main page - Copy/
main/
uploads/
IMAGES/
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
potato new train/model.h5
potato new train/*.ipynb
potato new train/split.py
potato new train/uploads
potato new train/.ipynb_checkpoints
tomato train/uploads
tomato train/requirements.txt
tomato train/*.ipynb
tomato train/*.h5
tomato train/split.py
wheat new train/uploads
wheat new train/*.ipynb
wheat new train/model.h5
new.zip